<div class="sidebar">
  <div class="navBar">
    <div class="navLink">
      <a routerLink="/creator" routerLinkActive="active">Survey Creator</a>
    </div>
    <div class="navLink">
      <a routerLink="/survey" routerLinkActive="active">Survey List</a>
    </div>
  </div>
</div>
<div class="mainContainer">
  <div class="contentPanel">
    <img width="400" height="400" alt="Angular Logo" src="assets/images/survey-logo.svg">
  </div>
  <div class="contentPanel landingPage-titleText">Welcome to Instant Survey</div>
</div>
